data/
*.db
secret.key
.data/
# python
__pycache__/
*.pyc
.pytest_cache/

# virtual environments
venv/
.venv/

_to_delete/

# tests
backend/tests/

# editor / os
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini